<!DOCTYPE html>
<html>

<head>
    <title>
        Posts
    </title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <h1>Posts list</h1>
        <% if (posts?.length) { %>
            <% posts.forEach(({ title, author, text, id, createdAt })=> { %>
                <div href="/posts/<%= id %>" class="post" data-id="<%= id %>" style="margin-top: 20px;">
                    <p><b>Id:</b>
                        <%= id %>
                    </p>
                    <p class="mt-10"><b>Title:</b>
                        <%= title %>
                    </p>
                    <p class="mt-10"><b>Author:</b>
                        <%= author %>
                    </p>
                    <p>
                        <%= text %>
                    </p>
                    <br><br>
                    <p>
                        Created: <%= createdAt.toLocaleDateString() %>
                            <%= createdAt.toLocaleTimeString() %>
                    </p>

                    <div class="post-actions">
                        <a href="/edit-post/<%= id %>">
                            <button class="post-edit">
                                Edit
                            </button>
                        </a>

                        <button class="post-delete" data-id="<%= id %>">
                            Delete
                        </button>
                    </div>


                </div>
                <% }) %>
                    <% } %>

                        <script>
                            const posts = document.querySelectorAll('.post')
                            posts.forEach((post) => {
                                let id = post.dataset.id
                                if (!id) return
                                post.addEventListener('click', function () {
                                    window.location.href = '/posts/' + id
                                })
                            })

                            let deleteButtons = document.querySelectorAll('.post-delete')
                            deleteButtons.forEach((item) => {
                                let id = item.dataset.id
                                if (!id) return
                                item.addEventListener('click', function (e) {
                                    e.stopPropagation()
                                    fetch(`/posts/${id}`, {
                                        method: "DELETE"
                                    }).then(() => {
                                        alert(`We deleted ${id}`)
                                        window.location.reload()
                                    })
                                });
                            })
                        </script>
</body>

</html>